# Copie para .env e ajuste conforme seu registry.
#
# Formato de IMAGE_REPO:
#   Docker Hub:    docker.io/SEU_USUARIO/fastapi-boilerplate
#   GHCR:          ghcr.io/SEU_USUARIO/fastapi-boilerplate
#   AWS ECR:       123456789.dkr.ecr.us-east-1.amazonaws.com/fastapi-boilerplate
#   ACR:           myregistry.azurecr.io/fastapi-boilerplate
#   Registry priv: registry.rota42.local/fastapi-boilerplate

IMAGE_REPO=docker.io/fmmcbaficdev/fastapi-boilerplate
IMAGE_TAG=1.0
APP_PORT=8000
